* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: bolder;
}

#top {
    height: auto;
    background-color: rgba(255, 0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

#topCenter {
    height: auto;
    width: 700px;
    background-color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}
#topCenterLeft {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
}
#topCenterCenter {
    background-color: rgba(255, 0, 0, 0);
    height: 100%;
    flex: 4;
    display: flex;
    align-items: center;
}
#midbox {
    border-radius: 3px;
    height: 25px;
    width: 300px;
    padding: 12px;
}
#topCenterRight {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}
#login {
    width: 100%;
    color: white;
    background-color: blue;
    border-radius: 3px;
    padding: 5px 20px;
}

#bottom {
    background-color: rgba(0, 255, 255, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomCenter {
    height: 500px;
    width: 700px;
    background-color: rgba(128, 128, 128, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}
#bottomCenterLeft {
    background-color: rgba(255, 166, 0, 0);
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bottomCenterLeftItem {
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    margin: 5px 5px 5px 0px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottomCenterLeftItemLeft {
    background-color: rgba(0, 0, 255, 0);
    height: 100%;
    flex: 1;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#likes {
    background-color: orange;
    padding: 3px 15px 3px 15px;
    margin: 10px;
}
.bottomCenterLeftItemRight {
    background-color: rgba(57, 163, 101, 0);
    height: 100%;
    flex: 2;

    display: flex;
    align-items: center;
}
#bottomCenterRight {
    background-color: rgba(0, 128, 0, 0);
    flex: 1;
    height: 100%;
    display: flex;
}
#bottomCenterRightItem {
    background-color: rgba(0, 255, 255, 0);
    height: 150px;
    flex: 1;
    margin: 5px 0px 5px 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 3px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#addDef {
    background-color: green;
    border-radius: 3px;
    color: white;
    padding: 3px 20px 3px 20px;
    margin: 3px 20px 3px 20px;
}

h3 {
    font-style: italic;
}
